.container{
    min-height: calc(100vh - 5rem);
    display: flex;    
    justify-content: center;
    width: 100%;
}

.mainContent{
    display: flex;
    flex-direction: column;
    margin-top: 2em;
}

.mainTitle{   
    text-align: center; 
    background-color: #0984e3;
    padding: 2em;
    border-radius: 1em 1em 0 0;
    font-size: 1em;
    color: #fff; 
    margin: 0 1em 0 1em ;  
}


.mainDescription{    
    background-color: #182C61;
    border: 1px solid #0984e3;    
    padding: 2em;    
    border-radius: 0 0 1em 1em;
    color: #000;
    margin: 0 1em 0 1em ; 

    .form{
        display: flex;
        flex-direction: column;
        color: #fff;
        
        label{
            font-weight: bold;
            margin-left: 0.5em;
            margin-bottom: 0.5em;
        }

        input{
            border-radius: 20px;
            border:none;
            outline: none;
            height: 4em;
            padding: 1em;
            margin-bottom: 2em;
        }

        button{
            border-radius: 20px; 
            background-color: #182C61;
            border: none;
            height: 4em; 
            color: #fff;
            font-size: 1em;
            transition: ease-in-out 200ms;
            cursor: pointer;   
            
            &:hover{
                background-color: #0984e3;
            }
        }
    }    

}